<div>
  Name: <br>
  <input class="form-control" type="text" name="name" value="<%- piece['name'] || "" %>" required>
  <br>
  Description:<br>
  <input class="form-control" type="text" name="description" value="<%- piece['description'] || "" %>" required>
  <br>
  Image URL:<br>
  <input class="form-control" type="text" name="imageURL" value="<%- piece['imageURL'] || "" %>" required>
  <br>
</div>
