<!-- partial for creating a new game piece -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create new Game Piece</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../../navBar %>
    <div class="players-background">
    <div class="container">
        <h1>Create a new game piece.</h1>
        <p></p>

        <hr>
        <div class="col-5">
          <form class="form-group" action="/board/piece/save" method="post">
            Name: <br>
            <input class="form-control" type="text" name="name" value="<%- piece['name'] || "" %>" required>
            <br>
            Description:<br>
            <input class="form-control" type="text" name="description" value="<%- piece['description'] || "" %>" required>
            <br>
            Image URL:<br>
            <input class="form-control" type="text" name="imageURL" value="<%- piece['imageURL'] || "" %>" required>
            <br>
            <div>
              <br>
              <input class="btn btn-primary btn-lg" role="button" type="submit" value="Submit"/><br><br><hr>
            </div>
          </form>
        </div>
    </div>
  </div>
  </body>
</html>
