<!-- partial for creating a new game space -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create new Game Space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../../navBar %>
    <div class="players-background">
    <div class="container">
        <h1>Create a new game space.</h1>
        <p></p>

        <hr>
        <div class="col-5">
          <form class="form-group" action="/board/space/save" method="post">
            <% include ./form %>
            <br>
            <div>
              <br>
              <input class="btn btn-primary btn-lg" role="button" type="submit" value="Submit"/><br><br><hr>
            </div>
          </form>
          <hr>
          <a href="/board/space/index"><h4>&#8592; Back to game spaces</h4></a>
        </div>
    </div>
  </div>
  </body>
</html>
