<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <a href="/game"><h2>>>Game Page<<</h2></a>
      <a href="/player/index"><h3>View Players</h3></a>
      <a href="/history/index"><h3>View Game History</h3></a>
      <br/>
      <a href="/about"><h4>About Page</h4></a>
      <a href="/contact"><h4>Contact Page</h4></a>
    </p>
  </body>
</html>
