<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../navBar %>
    <div class="main-background">
    <div class="container">


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <a href="/game/join"><h2>Join a game!</h2></a>
      <a href="/game"><h3>Game Page</h3></a>
      <a href="/player/index"><h3>View Players</h3></a>
      <a href="/history/index"><h3>View Game History</h3></a>
      <br/>
      <a href="/about"><h4>About</h4></a>
      <a href="/contact"><h4>Contact</h4></a>
    </p>
  </div>
</div>
  </body>
</html>
