/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.container
{
  padding: 50px;

}

a {
  color: #00B7FF;
}

.navbar-class {
    width: 100%;
}
