/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

html, body {
    margin: 0;
    height: 100%;
}

.container
{
  padding: 50px;

}

a {
  color: #00B7FF;
}

.navbar-class {
    width: 100%;
}


.main-background
{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)), url("../images/background/money.jpeg");
    background-size:100% 100%;
    background-repeat: repeat-y;

}

.players-background
{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,1)), url("../images/background/car.jpeg");
    background-size:100% 100%;
    background-repeat: repeat-y;

}
