<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/board.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script type="text/javascript" src='../js/renderBoard.js'></script>
    <script charset="utf-8" src="https://cdn.ethers.io/scripts/ethers-v4.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script>var provider = new ethers.providers.Web3Provider(web3.currentProvider, 'ropsten');

        var MonopolyContractAddress = "0xf87eb3d82dacc70be28fbc5d626c50bedc953f37";
        var MonopolyContractABI = [{ "constant": false, "inputs": [], "name": "acceptOwnership", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "spender", "type": "address" }, { "name": "tokens", "type": "uint256" }], "name": "approve", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "spender", "type": "address" }, { "name": "tokens", "type": "uint256" }, { "name": "data", "type": "bytes" }], "name": "approveAndCall", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_gameID", "type": "uint256" }, { "name": "_piece", "type": "uint256" }, { "name": "_gameHistory", "type": "string" }], "name": "endGame", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_bonusIssued", "type": "bool" }, { "name": "_bonus", "type": "uint256" }], "name": "endGame", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_gameID", "type": "uint256" }, { "name": "_piece", "type": "uint256" }, { "name": "_nickname", "type": "string" }], "name": "joinGame", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_piece", "type": "uint256" }, { "name": "_wager", "type": "uint256" }, { "name": "_nickname", "type": "string" }], "name": "newGame", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_gameID", "type": "uint256" }], "name": "startGame", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "to", "type": "address" }, { "name": "tokens", "type": "uint256" }], "name": "transfer", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "tokenAddress", "type": "address" }, { "name": "tokens", "type": "uint256" }], "name": "transferAnyERC20Token", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "from", "type": "address" }, { "name": "to", "type": "address" }, { "name": "tokens", "type": "uint256" }], "name": "transferFrom", "outputs": [{ "name": "success", "type": "bool" }], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "constant": false, "inputs": [{ "name": "_newOwner", "type": "address" }], "name": "transferOwnership", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function" }, { "inputs": [], "payable": false, "stateMutability": "nonpayable", "type": "constructor" }, { "payable": true, "stateMutability": "payable", "type": "fallback" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "_gameID", "type": "uint256" }, { "indexed": false, "name": "_wager", "type": "uint256" }, { "indexed": false, "name": "_nickname", "type": "string" }, { "indexed": false, "name": "_gameMaster", "type": "address" }], "name": "NewGame", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "_gameID", "type": "uint256" }, { "indexed": false, "name": "_piece", "type": "uint256" }, { "indexed": false, "name": "_nickname", "type": "string" }, { "indexed": false, "name": "_player", "type": "address" }], "name": "NewPlayer", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "_gameID", "type": "uint256" }, { "indexed": false, "name": "_gameMaster", "type": "address" }], "name": "GameStarted", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "_gameID", "type": "uint256" }, { "indexed": false, "name": "_winner", "type": "address" }, { "indexed": false, "name": "_gameHistory", "type": "string" }], "name": "GameEnded", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "_from", "type": "address" }, { "indexed": true, "name": "_to", "type": "address" }], "name": "OwnershipTransferred", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "from", "type": "address" }, { "indexed": true, "name": "to", "type": "address" }, { "indexed": false, "name": "tokens", "type": "uint256" }], "name": "Transfer", "type": "event" }, { "anonymous": false, "inputs": [{ "indexed": true, "name": "tokenOwner", "type": "address" }, { "indexed": true, "name": "spender", "type": "address" }, { "indexed": false, "name": "tokens", "type": "uint256" }], "name": "Approval", "type": "event" }, { "constant": true, "inputs": [], "name": "_totalSupply", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "tokenOwner", "type": "address" }, { "name": "spender", "type": "address" }], "name": "allowance", "outputs": [{ "name": "remaining", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "", "type": "address" }, { "name": "", "type": "address" }], "name": "allowed", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "tokenOwner", "type": "address" }], "name": "balanceOf", "outputs": [{ "name": "balance", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "", "type": "address" }], "name": "balances", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "bonus", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "bonusIssued", "outputs": [{ "name": "", "type": "bool" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "decimals", "outputs": [{ "name": "", "type": "uint8" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "gameID", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "", "type": "uint256" }], "name": "gameInfo", "outputs": [{ "name": "gameMaster", "type": "address" }, { "name": "exists", "type": "bool" }, { "name": "started", "type": "bool" }, { "name": "ended", "type": "bool" }, { "name": "wager", "type": "uint256" }, { "name": "pot", "type": "uint256" }, { "name": "gameHistory", "type": "string" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "name", "outputs": [{ "name": "", "type": "string" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "newOwner", "outputs": [{ "name": "", "type": "address" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "owner", "outputs": [{ "name": "", "type": "address" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [{ "name": "_gameID", "type": "uint256" }, { "name": "_pieceID", "type": "uint256" }], "name": "pieceStatus", "outputs": [{ "name": "", "type": "string" }, { "name": "", "type": "bool" }, { "name": "", "type": "address" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "symbol", "outputs": [{ "name": "", "type": "string" }], "payable": false, "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [], "name": "totalSupply", "outputs": [{ "name": "", "type": "uint256" }], "payable": false, "stateMutability": "view", "type": "function" }];
        var MonopolyContract;</script>

</head>

<body>
    <% include ../navBar %>
    <h1>
        <center>
            <%= title %>
        </center>
    </h1>
    <div id='mainContainer'>
        <div id='playerStats'>.</div>
        <div id='board'>
            <div class="topBottom">
                <div id="20" class='cornerSpace'>20</div>
                <div id="21" class='topBottomSpace'>21</div>
                <div id="22" class='topBottomSpace'>22</div>
                <div id="23" class='topBottomSpace'>23</div>
                <div id="24" class='topBottomSpace'>
                    <img class="topPiece" src="../images/pieces/hat.png">
                    <img class="topPiece" src="../images/pieces/penguin.png">
                </div>
                <div id="25" class='topBottomSpace'>25</div>
                <div id="26" class='topBottomSpace'>
                    <div class="topBuildings">
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                    </div>
                </div>
                <div id="27" class='topBottomSpace'>27</div>
                <div id="28" class='topBottomSpace'>28</div>
                <div id="29" class='topBottomSpace'>
                    <div class="topBuildings">
                        <div class="topBottomHotel">.</div>
                    </div>
                </div>
                <div id="30" class='cornerSpace'>30</div>
            </div>
            <div id='middle'>
                <div id='left'>
                    <div id="19" class='middleSpace'>
                        <div class="leftBuildings">
                            <div class="middleHotel">.</div>
                        </div>
                    </div>
                    <div id="18" class='middleSpace'>
                        <div class="leftBuildings">
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                        </div>
                    </div>
                    <div id="17" class='middleSpace'>17</div>
                    <div id="16" class='middleSpace'>
                        <img class="leftPiece" src="../images/pieces/duck.png">
                    </div>
                    <div id="15" class='middleSpace'>15</div>
                    <div id="14" class='middleSpace'>14</div>
                    <div id="13" class='middleSpace'>13</div>
                    <div id="12" class='middleSpace'>12</div>
                    <div id="11" class='middleSpace'>11</div>
                </div>

                <div id='right'>
                    <div id="31" class='middleSpace'>31</div>
                    <div id="32" class='middleSpace'>
                        <div class="rightBuildings">
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                            <div class="middleHouse">.</div>
                        </div>
                    </div>
                    <div id="33" class='middleSpace'>33</div>
                    <div id="34" class='middleSpace'>
                        <img class="rightPiece" src="../images/pieces/cat.png">
                    </div>
                    <div id="35" class='middleSpace'>35</div>
                    <div id="36" class='middleSpace'>36</div>
                    <div id="37" class='middleSpace'>
                        <div class="rightBuildings">
                            <div class="middleHotel">.</div>
                        </div>
                    </div>
                    <div id="38" class='middleSpace'>38</div>
                    <div id="39" class='middleSpace'>39</div>
                </div>
            </div>
            <div class="topBottom">
                <div id="10" class='cornerSpace'>10</div>
                <div id="9" class='topBottomSpace'>
                    <div class="bottomBuildings">
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                    </div>
                </div>
                <div id="8" class='topBottomSpace'>8</div>
                <div id="7" class='topBottomSpace'>7</div>
                <div id="6" class='topBottomSpace'>
                    <div class="bottomBuildings">
                        <div class="topBottomHotel">.</div>
                    </div>
                </div>
                <div id="5" class='topBottomSpace'>5</div>
                <div id="4" class='topBottomSpace'>4</div>
                <div id="3" class='topBottomSpace'>
                    <img class="bottomPiece" src="../images/pieces/tRex.png">
                </div>
                <div id="2" class='topBottomSpace'>2</div>
                <div id="1" class='topBottomSpace'>
                    <div class="bottomBuildings">
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                        <div class="topBottomHouse">.</div>
                    </div>
                </div>
                <div id="0" class='cornerSpace'>0</div>
            </div>

        </div>
        <div id='rightContainer'>
            <div id='playerTurn'>.</div>
            <div id='avilableActions'>.</div>
            <div id='gameHistory'>.</div>
        </div>
    </div>
    <p>
        <a href="/join">
            <h4>Back to game list</h4>
        </a>
        <a href="/">
            <h4>Back to home page</h4>
        </a>
    </p>
</body>
<div id="state"></div>
<script>renderBoard()</script>

</html>