<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../navBar %>
    <div class="games-background">
    <div class="container">
    <h1>Game List</h1>
    <ul>
      <li>Game 0</li>
      <li>Game 1</li>
      <li>Game 2</li>
      <li>Game 3</li>
      <li>Game 4</li>
      <li>Game 5</li>
    </ul>
    <p>
      <a href="/game"><h4>Back to game page</h4></a>
      <a href="/"><h4>Back to home page</h4></a>
    </p>
  </div>
</div>
  </body>
</html>
