<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/game/join"><h4>Click here to choose a game</h4></a>
      <a href="/game/leaderboard"><h4>View the leaderboard</h4></a>
      <a href="/game/history"><h4>View past game history</h4></a>
      <a href="/"><h4>Back to home page</h4></a>
    </p>
  </body>
</html>
