<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../navBar %>
    <div class="games-background">
      <div class="container">
    <h1><%= title %></h1>
    <p>
      <a href="/game/join"><h4>Click here to choose a game</h4></a>
      <a href="/game/leaderboard"><h4>View the leaderboard</h4></a>
      <a href="/game/history"><h4>View past game history</h4></a>
      <a href="/"><h4>Back to home page</h4></a>
    </p>
  </div>
</div>
  </body>
</html>
