<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../navBar %>
    <div class="games-background">
      <div class="container">
    <h1>Player Leaderboard</h1>
    <p>
      Player highscores... Most games won. Most money won?
      This should be a table format.
    </p>
    <ul>
      <li>Player 0 - xxx wins</li>
      <li>Player 1 - xxx wins</li>
      <li>Player 2 - xxx wins</li>
      <li>Player 3 - xxx wins</li>
      <li>Player 4 - xxx wins</li>
      <li>Player 5 - xxx wins</li>
    </ul>
    <p>
      <a href="/game"><h4>Back to game page</h4></a>
      <a href="/"><h4>Back to home page</h4></a>
    </p>
  </div>
</div>
  </body>
</html>
