<!-- Displaying a game piece -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= piece['name'] %>'s info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ../../navBar %>
    <div class="players-background">
    <div class="container">
      <% include ./details %>
        <hr>
        <p>
          Game boards containing this game piece: ...
        </p>
        <hr>
        <a href="/board/index"><h4>&#8592; Back to game boards</h4></a>
    </div>
  </div>
  </body>
</html>
